@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#131417;
    color: #fff;
    column-gap: 30px;

}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    background-color: #252830;
    padding: 25px;
}
.form.signin{
    opacity: 0;
    pointer-events:none;
}
.forms.show-signin .form.signin{
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signin .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

form{
    margin-top: 20px;
}

form .field,
.media-options{
    height: 45px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    border-radius: 4px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;

}

.field input{
    border:1px solid #afb6cd;
    background-color: #252830;
    color: #fff;
    padding: 0 15px;
    outline: none;
}
.field input:focus{
    border-bottom-width: 3px;
}

.form-link{
    text-align: center;
    margin-top: 10px;

}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
}

.form-link a{
    text-decoration: none;
    color: #c55151;
}
.form-link a:hover{
    text-decoration: underline;
}

.eye-icon{
    font-size: 18px;
    color: #afb6cd;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}
.line{
    background-color: #fff;
    height: 1px;
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.line::before{
    content: 'OR';
    background-color: #252830;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;
}

.field button{
    color: #252830;
    background-color: #fff;
    transition: all .3s ease;

}

.field button:hover{
    color: #fff;
    background-color: #131417;
    cursor: pointer;
}

.form .media-options{
    margin: auto;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.media-options a{
    color: #252830;
    font-weight: 500;
    text-decoration: none;
    font-weight: 500;
}
.media-options:hover a{
    color: #fff;
    background-color: #131417;
}
.media-options:hover {
    background-color: #131417;
    cursor: pointer;
}
.media-options:hover .facebook-icon{
    background-color: #131417;
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
}

.a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
}
.facebook-icon{
    border: 2px solid #131417;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.google-icon{
    border: 2px solid #131417;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.error-msg{
  color: #e74c3c;
  font-size: 13px;
  display: none;
}


@media screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }
}
